§%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
== tla.frame ==
------------------ MODULE <CURSOR> ---------------------
EXTENDS 
ASSUME 
CONSTANT  
VARIABLES 

TypeInvariant ==
    /\ 
    /\ 
    /\ 

Init ==
    /\ 
    /\ 
    /\ 


Next ==
    \/
    \/
    \/

Spec == Init /\ [][Next]_<<>>
THEOREM Spec => []TypeInvariant
================================================================
§%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
